/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/04/2019, 11:04:53 AM
    Author     : WCARO
*/
#contcabecera{
width: 100%;
float: left;
height: 75px;
}

#contleft{
width: 55%;
float: left;
height: 75px;
    
}


#contrig{
    width: 40%;
float: right;
height: 75px;
    font-size: 19px;
color: aliceblue;
font-weight: bold;
}